<h1>Sign Up</h1>

<%= form_with model: @user, url: "/signup" do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.label :role %>
  <%= f.select :role, User::ROLES %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Create Account" %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

<% end %>
