<h1>Payment Receipt</h1>

<p>Status: <%= @payment.status %></p>
<p>Type: <%= @payment.payment_type %></p>
<p>Amount: $<%= @payment.dollar_amount %></p>

<p>Reference: <%= @payment.reference_code %></p>
<p>Settled at: <%= @payment.settled_at %></p>

<%= link_to "Back to dashboard", "/dashboard" %>
